.bg-modal{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.95;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

body{
  background-image: url('https://wallpaperaccess.com/full/24908.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0;
  height: 2px;
  border-top: 10px black solid;
  min-width: 1500px;
}

.container{
  background-color: grey;
}

.opq{
  background-color: #221f1f;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 50px;
  height: auto;
  display: none;
}

table{
  width: 70%;
  margin: auto;
}

th{
  text-align: left;
  height: 20px;
  padding-left: 5px;
  background-color: #dedada;
}

td{
  text-align: left;
  height: 100px;
  padding-left: 7px;
}

table,th,td{
  background-color: white;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 90%;
  border: 3px #beabab solid;
  border-collapse: collapse;
  table-layout: fixed;
}

.modal-content{
  width: 600px;
  min-height: 400px;
  height: auto;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  position: relative;
}


input{
  width: 50%;
  display: block;
  margin: 10px auto;
}

.button {
	background-color: #1686d9;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 10px;;
	display: inline-block;
}

a:hover {
  background-color: white;
  color: #1686d9;
  border: 2px solid #1686d9;
}


.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}
