<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p><%= reason  %></p>
    <p>Please Try again!</p>
    <form class="" action="/users" method="post">
      <input type="submit" name="" value="Try">
    </form>
  </body>
</html>
