<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Start Page</title>
    <style media="screen">
    body {
      background-image: url('https://wallpaperplay.com/walls/full/1/f/d/39437.jpg');
      background-size: cover;                      /* <------ */
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
    }

    .er{
      color: white;
      font-size: 20px;
      background-color: black;
    	border: 2px solid white;
    	border-radius: 30px;
    	padding: 5px 10px;
    	color: white;
    	margin-top: 1050px;
      margin-right: 1500px;
    	display: inline-block;
      position: absolute;
    }
    </style>
  </head>
  <body>
    <div class="box">
      <a href="users" id="entere" class="er">Click the button to open home page</a>
  </body>
</html>
