<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FF</title>
  </head>
  <body>
    <p>Click the button to open Tokidex</p>
    <form class="" action="/users" method="post">
      <input type="submit" name="ss" value="Click Me!">
    </form>
  </body>
</html>
