<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Start Page</title>
    <style media="screen">
    body {
      background-image: url('https://wallpaperplay.com/walls/full/1/f/d/39437.jpg');
      background-size: cover;                      /* <------ */
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
    }

    .er{
      background-color: #556252;
    	border: 2px solid white;
    	border-radius: 30px;
    	text-decoration: none;
    	padding: 10px 28px;
    	color: white;
    	margin-top: 10px;
      margin-left: 50px;
      margin-bottom: 10px;;
    	display: inline-block;
      position: absolute;
      right:    100px;
      bottom:   100px;
    }
    </style>
  </head>
  <body>
    <div class="box">
      <a href="users" id="entere" class="er">Click the button to open home page</a>
  </body>
</html>
