<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FF</title>
    <style media="screen">
    body {
      background: #1b0606;
      margin: 0 0 0 0;
      width: 500px;
      height: 300px;
    }

    .box{
      width: 1920px;
      height: 1420px;
      background-color: white;
      background-image: url('https://wallpaperplay.com/walls/full/1/f/d/39437.jpg');
      background-repeat: no-repeat;
      background-size:cover;
      padding: 10px;
      border-radius: 4px;
      text-align: center;
      left: 0;
      line-height: 200px;
      margin-top: -750px;
      margin-left: 430px;
      position: absolute;
      text-align: center;
      top: 50%;
      border-bottom: 30px black solid;
    }

    .er{
      color: white;
      font-size: 20px;
      background-color: black;
    	border: 2px solid white;
    	border-radius: 30px;
    	text-decoration: none;
    	padding: 5px 10px;
    	color: white;
    	margin-top: 1050px;
      margin-right: 1500px;
    	display: inline-block;
    }
    </style>
  </head>
  <body>
    <div class="box">
      <a href="users" id="entere" class="er">Click the button to open Tokidex</a>
  </body>
</html>
